# Dialeto do banco utilizado
DB_DIALECT=sqlite

# Caminho do arquivo SQLite
# ':memory:' → banco em memória 
DB_STORAGE=:memory:

# Configurações do banco 
DB_USER=place_holder
DB_PASS=place_holder
DB_NAME=place_holder